.contenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(auto-fill, minmax(70px, 1fr));
 }
 header{
     grid-column:1/-1;
     grid-row:1/2 ;
 }
 aside{
     grid-column: 1/-1;
     grid-row: 2/3;
 }
 
 #div1{
     grid-column:1/2;
     grid-row: 3/4;
 
 }
 #div2{
     grid-column: 2/3;
     grid-row: 3/4;
 }
 #div3{
     grid-column: 1/2;
     grid-row: 4/5;
     
 }
 #div4{
     grid-column: 2/3;
     grid-row: 4/5;
 }
section{
    grid-column: 1/-1;
    grid-row: 5/6; 
 }
 footer{
     grid-column: 1/-1;
     grid-row: 6/7;
 }

 @media screen and (max-width:920px){
    header li {
        font-size: 18px;
        padding-right:5px;
    }
    .div-cursos h2{
        font-size: 27px;
    }
 }

 @media screen and (max-width:760px){
    /* header */
    nav li{
        display:block;
       
        padding: 20px;
        text-align: center;
        margin-left: -40px;
        border-bottom: black 2px solid;
        
    }
    header nav{
        width: 100%;
        margin:0 0 0 0;
        background-color: rgb(143, 143, 143);
        height: 273px;
        display: none;
    }
    header nav li{
        background-color: rgb(190, 92, 26);
    }
    header nav .activo{
        background-color:rgb(43, 84, 112) ;
    }
    nav li a{
        color: white;
      
        display: inline-block;
        width: 100%;
     
       
    }
    header nav li:nth-child(1){
        border-top: 2px solid black;
    }
    header{
        background-color: rgb(143, 143, 143);
        z-index: 11;
    }
    header #boton-entrada{
        display: inline;
    }

    aside img{
        margin-top: 0;
    }
  
    .div-cursos h2{
        font-size: 23px;
    }
    .div-cursos{
        height: 270px;
    }

    section{
        font-size: 18px;
    }
    footer{
        font-size: 18px;
        margin-top: 20px;
    }
 }


 
 
 @media screen and (max-width:630px){
    #div1{
        grid-column:1/-1;
        grid-row: 3/4;
    
    }
    #div2{
        grid-column: 1/-1;
        grid-row: 4/5;
    }
    #div3{
        grid-column: 1/-1;
        grid-row: 5/6;
        
    }
    #div4{
        grid-column: 1/-1;
        grid-row: 6/7;
    }
    section{
        grid-column: 1/-1;
        grid-row: 7/8; 
     }
     footer{
         grid-column: 1/-1;
         grid-row: 8/9;
     }
     .div-cursos h2{
         font-size: 30px;
     }

     aside h2{
         font-size: 30px;
     }

     section{
         font-size: 17px;
         margin: 0;
     }
   
 }


 @media screen and (max-width:570px){
     .div-cursos{
         height: 250px;
         
     }
     .div-cursos h2{
        font-size: 24px;
     }
     section{
        font-size: 16px;
        margin: 0 auto;
       
    }
    section h3{
        font-size: 25px;
    }
    footer{
        margin-top: 20px;
        font-size: 16px;
    }
    .contenedor-tabla{
        display:none
    }
    .div-cursos-mobile{
        display: inline;
    }
    section .span-table{
        font-size: 14px;
    }

 }

 @media screen and (max-width:370px){
     .div-cursos{
         height: 200px;
     }
     .div-cursos h2{
         font-size: 25px;
     }
     footer{
         font-size: 13px;
     }
     header .boton-menu{
         right: 0;
     }
     header #boton-salida{
        right:5px ;
    }
   
 }