body{
    font-size: 22px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
/* header */
header{
    background-color:rgba(151, 147, 147, 0.74);

    position: fixed;
    width: 100%;
    z-index: 100;
}
header #titulo{
    width: 200px;
    margin-left: 60px;
}
header li{
    display: inline-block;
    padding: 5px 10px;
    color:black;
    font-weight: bold;
    cursor: pointer;
}
header .boton-menu{
    width: 50px;
    height: 60px;
    position: absolute;
    top:5px;
    right: 10px;
    margin: auto;
    display:none
}
header #boton-salida{
    width:40px;
    height: 50px;
    top: 10px;
    right:12px ;
}

/* nav */
header nav{
    float: right;
    margin-right: 50px;
}

nav .activo{
    background-color: rgb(57, 117, 145);
    border-radius: 5px 5px 5px;
}
nav ul a{
   
    text-decoration: none;
    color:black;
}
nav ul a:hover{
    color:rgb(24, 0, 245) ;
    border-bottom:rgb(24, 0, 245) 2px solid;  
}

/* aside */

aside{
    margin-top: -70px;
}
.div-aside{
  
    width: 100%;
    height:650px;
    background-size: 100% 100%;
}
.div-aside-index{
    width: 100%;
    height: 550px;
    background-size: 100% 100%;
}
.div-aside-index .text-aside {
    top:500px;
    color:rgb(17, 60, 80);
} 
.text-aside{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top:300px;
    bottom: 0;
    margin:auto;
    text-align: center;
    color: white;
    
}
.text-aside h2{
    text-shadow: 3px 3px 5px black;
}
.text-aside p{
    color: rgb(240, 237, 98);
    font-weight: bold;
    text-shadow: 3px 3px 5px black;
}
/* section */
section{
    text-align: center;
    margin-top: -100px;
}
.article {
    width: 30%;
    height: 450px;
    /* lo centro  a los 3 article*/
    display: inline-flex;

    padding: 10px 0;
    margin:0 7px 0 7px;
    background-color: rgb(17, 60, 80);
    color:white;
}
.article img{
    width: 100%;
    height: 160px;
}
.article figcaption{
    font-size: 30px;
    font-weight: bold;
}



/* footer */
footer{
    background-color: rgb(87, 87, 87);
    color:white;
    margin-top:50px;
    padding:10px;
    text-align: center;
    margin-bottom: 0;
}

footer a{
    text-decoration: none;
    color:rgb(61, 139, 211);
}
footer .derechosReservados{
    color: black;
}


