.contenedor{
   display: grid;
   grid-template-columns: repeat(auto-fill, 1fr);
   grid-template-rows:repeat(auto-fill, minmax(70px, 1fr));
}
header{
    grid-column:1/-1;
    grid-row:1/2 ;
}
aside{
    grid-column: 1/-1;
    grid-row: 2/3;
}

section{
    grid-column:1/-1;
    grid-row: 3/4;

}
footer{
    grid-column: 1/-1;
    grid-row: 4/6;
}



/* responsive */
@media screen and (max-width:920px){
  
    section .article{
        height:400px;
        width: 70%;
        float: center;
        margin-bottom: 20px;
    }
    section .article img{
        height:220px ;
    }

    header li {
        font-size: 18px;
        padding-right:5px;
    }
   /* aside index */
    .div-aside-index{
        height: 450px;
    }
    .div-aside-index .text-aside{
        font-size: 34px;
        top:400px
    }

    section{
        margin-top: -100px;
      
    }
    
 
}


@media screen and (max-width:760px){
    /* header */
    nav li{
        display:block;
       
        padding: 20px;
        text-align: center;
        margin-left: -40px;
        border-bottom: black 2px solid;
        background-color: rgb(190, 92, 26);
    }
    header nav{
        width: 100%;
        margin:0 0 0 0;
        background-color: rgb(143, 143, 143);
        height: 270px;
        display: none; 
    }

    header nav .activo{
        background-color:rgb(43, 84, 112) ;
        
    }
    nav li a{
        color: white;
        
        width: 100%;
        display: inline-block;
    }
    header nav li:nth-child(1){
        border-top: 2px solid black;
    }

    header{
        background-color: rgb(143, 143, 143);
        z-index: 11;
    }
    header #boton-entrada{
        display:inline-block
    }
  
    
    aside{
        margin-top: 0;
    }
    /* aside index */
    .div-aside-index{
        height: 400px;
        
    }
  
    .div-aside-index .text-aside{
        font-size: 34px;
        top:400px
    }
    /* aside institucional */
     .div-aside{
         height: 400px;
         margin-top: -60px;
     }

     .div-aside .text-aside h2{
         font-size: 30px;
     }
   

    section .article{
        height: auto;
    }
    .section-index{
          margin-top: -20px;
    }
    footer{
        font-size: 18px;
    }
  

}
@media screen and (max-width:540px){
     .contenedor{
         width: 100%;
     }
    .contenedor p{
        font-size: 20px;
    }
    .contenedor .article figcaption{
        font-size: 25px;
    }
    /* aside index */
    aside .div-aside-index{
        height: 250px;
    }
    .div-aside-index .text-aside {
        top: 320px;
        font-size: 28px;
    } 
    /* aside institucional */
    .div-aside{
        height:280px;
    }
    .div-aside .text-aside{     
        top: 200px;
    }
    .div-aside .text-aside h2{
        font-size: 25px;
    }
    .div-aside .text-aside p{
        font-size: 18px;
    }
  
    footer{
        font-size: 16px;
        margin-top: 90px;
    }
 
    section .article{
        margin: 95px 0 -60px 0;
        width: 100%;
    }
    section .article img{
        height:auto ;
    }
    section .article #reloj-img{
        height: 160px;
    }
    .section-index{
        margin-top: -70px;
    }
   

}

@media screen and (max-width:400px){
    .section-index{
        margin-top: -80px;
    }
    /* aside index */
    aside .div-aside-index{
        height: 180px;
        
    }
  
    .div-aside-index .text-aside{
        top:250px;
        font-size: 21px;
    }

    header .boton-menu{
        position: absolut;
        right: 0;
    } 
    header #boton-salida{
        right:3px ;
    }   
    footer{
        
        font-size: 13px;
    }

}
  