section{
    margin-top:-170px;
}

aside{
    margin-top: -30px;
}





@media screen and (max-width:920px){

   section.article{
    height: auto
   }
       
    
    section{
        margin-top:-100px;
    }
}    
@media screen and (max-width:760px){
    header nav{
        height: 273px;
    }
 
    header nav li:nth-child(3){
        border-bottom: none;
    }
    section{
        margin-top: -40px;
    }
    aside{
        margin-top: 60px;
    }
    .text-aside{
        top:300px
    }
    .text-aside h2{
        font-size: 24px;
    }
    .text-aside p{
        font-size: 18px;
    }
   
 
}
@media screen and (max-width:540px){
    section{
        margin-top: -60px;
    }
    
 
}
@media screen and (max-width:400px){

    section{
        margin-top: -60px;
    }
    .div-aside{
        height: 250px;
    }
    
    .div-aside .text-aside{
        top:200px
    }
    .div-aside .text-aside h2{
        font-size: 18px;
    }
    .div-aside .text-aside p{
        font-size: 14px;
    }
}    